ErrorDocument 404 errors/404.html
ErrorDocument 403 errors/403.html

Options +FollowSymLinks
RewriteEngine on

RewriteRule ^login$ index.php
RewriteRule ^report$ report.php
RewriteRule ^agenda$ agenda.php
RewriteRule ^student$ students.php
RewriteRule ^patient$ patient.php
RewriteRule ^doctor$ doctor.php
RewriteRule ^user$ users.php
RewriteRule ^specialty$ specialty.php
RewriteRule ^edit_doctor$ edit_doctor.php
RewriteRule ^edit_specialty$ edit_specialty.php
RewriteRule ^edit_student$ edit_students.php
RewriteRule ^edit_user$ edit_user.php
RewriteRule ^panel_admin$ panel_admin.php
RewriteRule ^panel_doctor$ panel_doctor.php
RewriteRule ^register_doctor$ register_doctor.php
RewriteRule ^register_patient$ register_patient.php
RewriteRule ^register_specialty$ register_specialty.php
RewriteRule ^register_student$ register_student.php
RewriteRule ^register_user$ register_user.php
RewriteRule ^error-403$ errors/403.html
RewriteRule ^error-404$ errors/404.html